.content {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    font-family: sans-serif;
    width: 100%;
    max-width: 900px;
    padding: 10px;
    box-sizing: border-box;
}
.col{
    flex-direction: column;
}


.info h2 {
    margin: 0 0 10px;
}

.info p {
    margin: 4px 0;
    color: #444;
}

.link{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px;
    background-color: #f0f2f5;
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    max-width: 500px;
    margin: 12px auto;
}