:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-y: hidden;
  --pimary_color:#FE6716;
  --blue-color: #141A36;
  --separator-color: rgba(20, 26, 54, 0.38);
  --orangeChannel: rgb(255, 244, 235);
}
*{
  color: var(--blue-color);
  margin: 0;
}

body{
  margin: 0;
  padding: 0;
  color: #333;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.header{
  width: 100%;
  background-color: #141A36;
}
.header>div{
  margin: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  max-width: 900px;
  height: 70px;
  min-height: 70px;
  box-sizing: border-box;
}
.header h2{
  color: white;
  font-size: 1.5em;
}

.button{
  color:white;
  background-color: var(--blue-color);
  border-radius: 45px;
  width: fit-content;
  align-self: center;
}
.button:hover{
  border-color: var(--pimary_color);
}
ul{
  padding: 0;
}
.icon-white path{
  fill: antiquewhite;
}
nav{
  position: relative;
}
.avatar{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.list{
  overflow-y: auto;
  flex-grow: 1;
}
.mobile-only{
  display: block;
}
.active{
  background-color: #EEEEEE;
}
.bulle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    font-size: 0.7em;
    width: 1.2em;
    height: 1.2em;
}
.statut{
    top: 0;
}
.en_Ligne{
    background-color: rgb(3, 202, 3);
}
.absent{
    background-color: #FE6716;
}
.hors_Ligne{
    background-color: #626679;
}
.fa-orange path{
  fill: var(--pimary_color) !important;
}
.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
}
.container>form{
    width: 100%;
    max-width: 900px;
    padding: 10px;
    box-sizing: border-box;
}
form{
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 0.83em;
    width: 100%;
    box-sizing: border-box;
}
@media (min-width : 512px){
  .mobile-only{
    display: none;
  }
}
@media (min-width : 768px){
    .container{
      position: relative;
    }
  .tab-only{
    display: none;
  }
}