
@import '../index.css';

.login{
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.5);
    max-width: 400px;
    width: 90%;
    max-height: calc(100vh - 75px);
    margin: auto;
    margin-top: 65px;
    overflow-y: auto;

    label, input{
        display: block;
        padding: 10px 5px;
        width: 100%;
        box-sizing: border-box;
    }
}
.login li{
    list-style-type: none;
}
